<a href="https://colab.research.google.com/github/jgoncsilva/Classes_IronHack/blob/master/Data_Manipulations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing libraries

import pandas as pd

In [ ]:
# Importing data and making sure it's what we want

# ds = pd.read_csv('vehicles_messy.csv')
ds = pd.read_csv('vehicles.csv')
ds.head()

In [ ]:
# Looking at data

print(f"This dataset has {ds.shape[0]} entries and {ds.shape[1]} cols \n\n")
ds.describe()

## Changing the names of the columns

In [ ]:
ds.columns

### Changing them by hand

In [ ]:
ds.columns = ['Manufacturer','Model','Year','Displacement',
                'Cylinders','Transmission','Drivetrain',
                'Vehicle Class','Fuel Type','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

ds.columns

### Changing them by using replace and dictionary

In [ ]:
# Re-import first, otherwise you cannot find things to change. Or change the strings in the dict
ds = ds.rename(columns={'Mer':'Model',
                        'Displacement':'Engine Displacement'})

ds.columns

### Changing their order

In [ ]:
column_order = ['Year','Make','Model','Vehicle Class',
                'Transmission','Drivetrain','Fuel Type',
                'Cylinders','Engine Displacement','Fuel Barrels/Year',
                'City MPG','Highway MPG','Combined MPG',
                'CO2 Emission Grams/Mile','Fuel Cost/Year']

ds = ds[column_order]
ds.head()

## Changing record

In [ ]:
# Also notice how to write on multiple lines!

filtered_ds = ds[(ds['Make']=='Ford') & 
                (ds['Cylinders']>=6) & 
                (ds['Combined MPG'] < 18)]

filtered_ds.head()

### Binning

In [ ]:
# Equal width bins: the range for each bin is the same size.
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

equal_bins = pd.cut(ds['Combined MPG'], 5, labels = mpg_labels)
equal_bins.head(10)

In [ ]:
# Equal frequency bins: approximately the same number of records in each bin.

equal_freq_bins = pd.qcut(ds['Combined MPG'], 5, labels = mpg_labels)
equal_freq_bins.head(10)

In [ ]:
# Custom-sized bins: the user explicitly defines where they want the cutoff for each bin to be.
cutoffs = [7,14,21,23,30,40]

bins = pd.cut(ds['Combined MPG'], cutoffs, labels = mpg_labels)
bins.head(10)

## Conditional Categories

In [ ]:
# Add new column
ds['TransType']
ds.loc[ds['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
ds.loc[ds['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'
ds

## Combining DataFrames

In [ ]:
# Let's create a DataFrame that has the average Combined MPG for each Make using the groupby method.
avg_mpg = ds.groupby('Make', as_index=False).agg({'Combined MPG':'mean'})
avg_mpg.columns = ['Make', 'Avg_MPG']

ds = pd.merge(ds, avg_mpg, on='Make')
ds.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,Automatic,14.750000
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.750000
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,Automatic,14.750000
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.750000
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,Automatic,16.000000
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,Automatic,21.506623
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,Manual,21.506623
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,Automatic,21.506623
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,Automatic,21.506623
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,Manual,21.506623

In [ ]:
avg_mpg.head()

                          Make    Avg_MPG
0                   AM General  14.750000
1             ASC Incorporated  16.000000
2                        Acura  21.506623
3                   Alfa Romeo  19.512195
4  American Motors Corporation  17.681818

### Concat

In [ ]:
ds = pd.concat([ds, avg_mpg], axis=1)
ds.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,...,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG,Make,Avg_MPG,Make,Avg_MPG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,...,17,17,522.764706,1950,Automatic,14.75,AM General,14.750000,AM General,14.750000
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,...,13,13,683.615385,2550,Automatic,14.75,ASC Incorporated,16.000000,ASC Incorporated,16.000000
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,...,17,16,555.437500,2100,Automatic,14.75,Acura,21.506623,Acura,21.506623
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,...,13,13,683.615385,2550,Automatic,14.75,Alfa Romeo,19.512195,Alfa Romeo,19.512195
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,...,21,16,555.437500,2550,Automatic,16.00,American Motors Corporation,17.681818,American Motors Corporation,17.681818

In [ ]:
ds.tail()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,...,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG,Make,Avg_MPG,Make,Avg_MPG
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,...,38,36,244.0,1100,Automatic,35.8,NaN,NaN,NaN,NaN
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,...,38,36,243.0,1100,Automatic,35.8,NaN,NaN,NaN,NaN
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,...,38,36,244.0,1100,Automatic,35.8,NaN,NaN,NaN,NaN
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,...,39,36,246.0,1100,Automatic,35.8,NaN,NaN,NaN,NaN
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,...,39,35,255.0,1150,Manual,35.8,NaN,NaN,NaN,NaN

## Melting Data Into Long Format

In [ ]:
melted_ds = pd.melt(ds, id_vars=['Year','Make','Model'], 
                 value_vars=['City MPG','Highway MPG','Combined MPG'])
melted_ds.head(10)

   Year              Make                Model  variable  value
0  1984        AM General    DJ Po Vehicle 2WD  City MPG     18
1  1984        AM General     FJ8c Post Office  City MPG     13
2  1985        AM General  Post Office DJ5 2WD  City MPG     16
3  1985        AM General  Post Office DJ8 2WD  City MPG     13
4  1987  ASC Incorporated                  GNX  City MPG     14
5  1997             Acura          2.2CL/3.0CL  City MPG     20
6  1997             Acura          2.2CL/3.0CL  City MPG     22
7  1997             Acura          2.2CL/3.0CL  City MPG     18
8  1998             Acura          2.3CL/3.0CL  City MPG     19
9  1998             Acura          2.3CL/3.0CL  City MPG     21

In [ ]:
melted_ds.shape

(107856, 5)

In [ ]:
ds.shape

(35952, 15)

In [ ]:
ds[['City MPG','Highway MPG','Combined MPG']]

       City MPG  Highway MPG  Combined MPG
0            18           17            17
1            13           13            13
2            16           17            16
3            13           13            13
4            14           21            16
5            20           26            22
6            22           28            24
7            18           26            20
8            19           27            22
9            21           29            24
10           17           26            20
11           20           27            22
12           21           29            24
13           17           26            20
14           18           23            20
15           18           23            20
16           17           22            19
17           18           23            20
18           17           22            19
19           17           23            20
20           17           22            19
21           17           27            20
22           17           27            21
23           17           26            20
24           17           27            21
25           17           25            20
26           17           27            20
27           17           27            20
28           17           27            21
29           17           27            21
...         ...          ...           ...
35922         9           15            11
35923         9           14            11
35924        24           29            26
35925        23           27            24
35926        21           27            23
35927        23           28            25
35928        24           29            26
35929        24           29            26
35930        23           28            25
35931        22           29            25
35932        33           41            36
35933        33           41            36
35934        34           38            36
35935        34           38            36
35936        34           38            36
35937        34           38            36
35938        33           38            35
35939        31           38            34
35940        33           41            36
35941        33           41            36
35942        33           41            36
35943        33           41            36
35944        33           41            36
35945        33           41            36
35946        34           38            36
35947        34           38            36
35948        34           38            36
35949        34           38            36
35950        34           39            36
35951        32           39            35

[35952 rows x 3 columns]